/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&family=My+Soul&family=Nunito+Sans:wght@300&display=swap");
/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  background-color: #fafbfb;
}

html {
  scroll-behavior: smooth;
  overflow-x: unset;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.dot {
  background: linear-gradient(to bottom, #000080 10%, #0b0b8a 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

/*----------------------------------alert styling area ---------------------*/
.alert {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  height: 20px;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 4px;
  text-transform: capitalize;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  color: #155724;
  background: #d4edda;
}

/* ==== CONTAINER ==== */
.container {
  width: 100%;
}

@media screen and (min-width: 1040px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}
.btn-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.btn-style {
  background-color: #000080;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* ==== HEADER ==== */
.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
  width: 100%;
  z-index: 99;
  background-color: #fafbfb;
}

/* ==== NAV ==== */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==== LOGO ==== */
.logo h2 {
  font-size: 28px;
  color: #000080;
}

/* ====  NAV-MENU  ==== */
.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}

.nav_menu_item .nav_menu_link {
  font-size: 16.5px;
  line-height: 27px;
  color: #506690;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.nav_menu_link:hover {
  color: #000080;
}

.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: #161c2d;
  z-index: 4;
}

.nav_menu {
  display: none;
}

.close_btn {
  display: none;
}

.show {
  right: 3% !important;
}

/* ====  WRAPPER ==== */
.wrapper {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding-top: 5rem;
}

.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}

.main-heading {
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
}
.main-heading span {
  color: #000080;
}

.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #bbbbbb;
}

.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}

.btn {
  width: 110px;
  height: 50px;
  background-color: #0000b3;
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  border-radius: 7px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: #000080;
}

.view_more_btn {
  width: 180px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.view_more_btn i {
  margin-left: 0.7rem;
}
.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.documentation_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #e1e7fc;
  color: #0e2a86;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.documentation_btn:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.grid-item-2 {
  width: 100%;
  height: 100%;
}

.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
}

.grid-col-item {
  height: 100%;
}

.icon {
  width: 100%;
  line-height: 40px;
}
.icon i {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #00004d;
}

.featured_info {
  width: 100%;
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  color: #161c2d;
}
.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #bbbbbb;
  line-height: 25px;
  font-size: 15.5px;
}

.features {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.features .featured-image {
  width: 49.2%;
}
.features .featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.features .featured-text {
  width: 49.2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .featured-text .heading {
  font-size: 40px;
  text-transform: capitalize;
  color: #363636;
  margin-bottom: 0.5em;
  font-weight: 500;
}
.features .featured-text .heading span {
  color: #000080;
}
.features .featured-text .info {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  text-align: left;
  color: #bbbbbb;
}
.features .featured-text .get-started {
  text-transform: capitalize;
  font-size: 16px;
  width: 224.47px;
  height: 51px;
  border-radius: 7px;
  background-color: #E0F8F5;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #000;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.features .featured-text .get-started:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.about-container {
  background-image: url(../img/about-img.png);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 0;
  position: relative;
  margin-top: 9em;
}
.about-container .playContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.about-container .playContainer .playBtn {
  width: 100px;
  height: 100px;
  padding: 2em;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.about-container .playContainer .playBtn i {
  position: unset;
  font-size: 40px;
  color: #000;
}
.about-container .playContainer .playBtn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  transform: scale(1.1);
}
.about-container .playContainer .playBtn.hide {
  display: block;
}
.about-container .heading {
  font-size: 35px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.about-container .info {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: #fff;
  margin-top: 14px;
}

.reviews {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.review-heading {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: #363636;
  margin-bottom: 1.5em;
}

.review-container {
  width: 32.6%;
}
.review-container .bubble {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  padding: 20px 30px;
  position: relative;
}
.review-container .bubble::after {
  display: block;
  position: absolute;
  content: "";
  top: 100%;
  left: 5%;
  transform: translate(50%, -50%) rotate(45deg) translateZ(0);
  height: 15px;
  width: 15px;
  background: linear-gradient(-45deg, #fff 52%, transparent 0);
  border: inherit;
  border-width: 0 1px 1px 0;
  border-radius: 0 0 2px 0;
}
.review-container .bubble:hover {
  border: 1px solid transparent;
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.3s;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.1);
}
.review-container .bubble .company-name {
  color: #000080;
  font-weight: 500;
  font-size: 18px;
}
.review-container .bubble .message {
  margin-bottom: 20px;
  font-style: italic;
  line-height: 1.5;
  font-size: 18px;
}
.review-container .client-info {
  margin-top: 1.875rem;
  display: flex;
  flex-flow: row;
  justify-content: start;
  align-items: center;
}
.review-container .client-info .avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.review-container .client-info .name h4 {
  line-height: 1.5 !important;
}
.review-container .client-info .name .role {
  font-size: 16px;
  line-height: 1;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 2em;
  width: 100%;
}
.contact-container .contact-content .contact-title {
  margin-bottom: 60px;
  text-align: center;
  font-weight: lighter;
  color: #000080;
  font-size: 30px;
  text-transform: capitalize;
  font-family: "My Soul", cursive;
}
.contact-container .contact-content .contact-banner img {
  width: 100%;
}
.contact-container .contact-form .form-holder label {
  font-size: 16px;
  font-weight: 700;
  color: #363636;
}
.contact-container .contact-form .form-holder input {
  margin-top: 10px;
  margin-bottom: 33px;
  border: none;
  background: none;
  outline: none;
  background-color: #F1F9FF;
  border: 2px solid #BCE0FD;
  height: 40px;
  width: 320px;
  border-radius: 5px;
  color: #737373;
  text-transform: capitalize;
  text-indent: 10px;
}
.contact-container .contact-form .form-holder textarea {
  background: none;
  border: none;
  outline: none;
  width: 320px;
  height: 140px;
  margin-top: 10px;
  resize: none;
  border-radius: 5px;
  background-color: #F1F9FF;
  border: 2px solid #BCE0FD;
  padding: 10px;
  padding: 10px;
  font-family: "Nunito Sans", sans-serif;
}
.contact-container .contact-form .btn-container {
  margin-top: 16px;
}
.contact-container .contact-form .btn-container button {
  border: none;
  outline: none;
  background: none;
  width: 148px;
  height: 48px;
  cursor: pointer;
  background-color: #0000b3;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container .contact-form .btn-container button a {
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.contact-container .contact-form .btn-container button a i {
  padding-right: 5px;
  font-size: 18px;
  color: #E0F8F5;
}
.contact-container .contact-form .btn-container button:active {
  background-color: #0000e6;
  transition: 0.3s ease;
  transform: scale(98%);
}

footer {
  width: 100%;
  background-color: #000080;
  height: 12px;
  margin-top: 8rem;
}

.none {
  display: none;
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .featured-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .about-container .heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .info {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .featured-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
  .featured_info span {
    font-size: 19px;
  }
}
/* ==== MEDIA QURIES FOR RESPONSIVE DESIGN ==== */
@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .logo h2 {
    font-size: 23px;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #50689e;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .about-container {
    padding: 0px;
    margin-top: 9em;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .featured_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
  .features {
    flex-direction: column;
  }
  .features.reverse {
    flex-direction: column-reverse;
  }
  .features .featured-image {
    width: 100%;
  }
  .features .featured-text {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .features .featured-text .heading {
    font-size: 32px;
  }
  .features .featured-text .info {
    padding: 0;
  }
  .about-container .container {
    padding: 2em;
  }
  .review-container {
    width: 100%;
  }
  .review-container .reviews {
    gap: 40px;
  }
  .review-container .client-info {
    margin-bottom: 1rem;
  }
  .contact-container {
    flex-direction: column;
    gap: 20px;
  }
  .contact-container .contact-content .content-title {
    font-size: 25px;
  }
  .contact-container .contact-form {
    width: 90%;
  }
  .contact-container .contact-form .form-holder input {
    width: 100%;
    height: 45px;
  }
  .contact-container .contact-form .form-holder textarea {
    width: 100%;
  }
}